.container#content
    h4#game #{game}
    h5#roomId
    .row
      //- h6.col-12.text-center Team name: Name of team
      h5.col-12.text-center Players in room:
      ul.col-6.offset-3#playerList
      p#description.col-6.offset-3.text-center 2-4 Players control the same object with different keys. Avoid other objects and collect items to increase score.