.container#content
    h4#game #{game}
    h5#roomId
    .row
      h5.col-12.text-center Players in room:
      ul.col-6.offset-3#playerList
      h6.col-6.text-right Team Name: 
      h6#team.col-6.text-left(style= 'padding-left: 0px')
      p#description.col-6.offset-3.text-center 2-4 Players control the same object with different keys. Avoid other objects and collect items to increase score.