extends layout

block content
  include includes/preGame

  .container#gameContent  
    p.col#room Gameroom
    p.col#screen
    svg.col#canvas

  #scoreModal.modal.fade(role='dialog' data-backdrop="static" data-keyboard="false")
      .modal-dialog.modal-dialog-centered
        .modal-content
          .modal-header.mx-auto
            .row
              h2.text-center.col-12 Game Over
              p.text-center.col-12 Score: 4546
  
          .modal-body
            .row
              h6.text-center.col-12 High Scores: #{game}
            .row#scores
              p#name.text-center.col-4 Name
              p#score.text-center.col-4 Score
              p#date.text-center.col-4 Date
            

  include includes/scripts
  script(src='/javascripts/games/game.js')
  
