extends layout

block content
  
  .container#content
    .row
      h1.col-12.text-center= title
      p.col-12.text-center Welcome to #{title}
    .row
      button.mx-auto.col-6.col-md-3#create Create Room
    .row
      input.mx-auto#roominput(placeholder= 'Enter room to join')
    .row.col-6.col-md-2.offset-5
      button.col#join Join Room

    script(src='/javascripts/lobby.js')
    include includes/scripts
  
