extends layout

block content
  p(hidden='')#gameName= game
  div#frame  
    .container#content
      .row
        h1#title.col-12.text-center= title
        p.col-12.text-center Create a room with PC and join with mobile-device
      .row.mx-auto.col-sm-6.col-md-4.offset-md-4
        button.btn.btn-dark.col#create Create Room
      //-.row
        //- input.mx-auto#roominput(placeholder= 'Enter room to join')
      .row.mx-auto.col-sm-6.col-md-4.offset-md-4
        button.btn.btn-dark.col#join Join Room

    #joinModal.modal.fade(role='dialog')
      .modal-dialog.modal-dialog-centered
        .modal-content
          .modal-body.mx-auto
            h3.col.text-center Enter room password
            input.col.input-group-text.mx-auto#roominput
            button.col.mx-auto.btn.btn-dark#confirm(type='button' onclick='confirm()') Join

  script(src="https://code.jquery.com/jquery-1.10.2.js")
  script(src="https://code.jquery.com/ui/1.11.2/jquery-ui.js")
  script(src='/javascripts/lobby.js')
  script(src='/socket.io/socket.io.js')
  script(src="https://d3js.org/d3.v5.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js") 
  
