extends layout

block content
    .container#content
      .row
        h1.col-12.text-center Main Menu 
      .row
        button#game1.btn.btn-dark.col-8.offset-2.col-md-4.offset-md-4 Game 1
      .row
        button#game2.btn.btn-dark.col-8.offset-2.col-md-4.offset-md-4 Game 2


    include includes/scripts
    script(src='/javascripts/menu.js')