extends layout

block content
  p#roomId #{roomId}
  br
  br

  .row
    button.col-md-2.offset-md-5(onmousedown="move('up')" ontouchstart="move('up')") UP
  .row
    button.col-md-3.offset-md-3(onmousedown="move('left')" ontouchstart="move('left')") LEFT
    button.col-md-3(onmousedown="move('right')" ontouchstart="move('right')") RIGHT
  .row
    button.col-md-2.offset-md-5(onmousedown="move('down')" ontouchstart="move('down')") DOWN

  #myModal.modal.fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-body
          p The room has been closed
          button( data-dismiss= 'modal' aria-label= 'Close') Close
  
  include includes/scripts
  script(src='/javascripts/player.js')
  
